pageInfo:
  title: Dashy
  description: Dashy
appConfig:
  theme: minimal-dark
  layout: auto
  iconSize: large
  startingView: default
  defaultOpeningMethod: newtab
  statusCheck: false
  statusCheckInterval: 300
  faviconApi: allesedv
  routingMode: history
  enableMultiTasking: false
  widgetsAlwaysUseProxy: false
  webSearch:
    disableWebSearch: true
    searchEngine: duckduckgo
    openingMethod: newtab
    searchBangs: {}
  enableFontAwesome: true
  enableMaterialDesignIcons: false
  hideComponents:
    hideHeading: true
    hideNav: false
    hideSearch: true
    hideSettings: false
    hideFooter: true
  auth:
    enableGuestAccess: true
    users:
      - user: admin
        hash: password
        type: admin
    enableHeaderAuth: false
    headerAuth:
      userHeader: REMOTE_USER
      proxyWhitelist: []
    enableKeycloak: false
    enableOidc: false
    oidc: {}
  showSplashScreen: false
  preventWriteToDisk: false
  preventLocalSave: false
  disableConfiguration: false
  disableConfigurationForNonAdmin: false
  allowConfigEdit: true
  enableServiceWorker: false
  disableContextMenu: false
  disableUpdateChecks: false
  disableSmartSort: false
  enableErrorReporting: false
  customColors:
    minimal-dark:
      primary: '#a5a5a5'
      background: '#302c2c'
      background-darker: '#302c2c'
      info: '#04e4f4'
      success: '#048627'
      warning: '#f6f000'
      error: '#fca016'
      danger: '#890036'
      neutral: '#272f4d'
      white: '#ffddb8'
      black: '#000'
      item-group-background: '#302c2c'
      medium-grey: '#5e6474'
      item-background: '#292626'
      item-background-hover: '#212020'
      transparent-70: rgba(0,0,0,0.7019607843137254)
      transparent-50: rgba(0,0,0,0.5019607843137255)
      transparent-30: rgba(0,0,0,0.30196078431372547)
      transparent-white-70: hsla(0,0%,100%,0.7019607843137254)
      transparent-white-50: hsla(0,0%,100%,0.5019607843137255)
      transparent-white-30: hsla(0,0%,100%,0.30196078431372547)
      transparent-white-10: hsla(0,0%,100%,0.058823529411764705)
      heading-text-color: '#a5a5a5'
      nav-link-text-color: '#a5a5a5'
      nav-link-background-color: none
      nav-link-text-color-hover: '#a5a5a5'
      nav-link-background-color-hover: rgba(96,125,139,0.2)
      nav-link-border-color: transparent
      nav-link-border-color-hover: '#a5a5a5'
      nav-link-shadow: '1px 1px 2px #232323'
      nav-link-shadow-hover: '1px 1px 2px #232323'
      item-text-color: '#ffddb8'
      item-text-color-hover: '#ffddb8'
      item-group-outer-background: none
      item-group-heading-text-color: '#ffddb8'
      item-group-heading-text-color-hover: hsla(0,0%,100%,0.7490196078431373)
      settings-text-color: '#ffddb8'
      settings-background: '#302c2c'
      config-settings-color: '#a5a5a5'
      config-settings-background: '#090b0e'
      config-code-color: '#ffddb8'
      config-code-background: '#ffddb8'
      code-editor-color: '#000'
      code-editor-background: '#ffddb8'
      widget-text-color: '#a5a5a5'
      widget-background-color: '#090b0e'
      widget-accent-color: '#302c2c'
      widget-base-background: transparent
      interactive-editor-color: '#a5a5a5'
      interactive-editor-background: '#302c2c'
      interactive-editor-background-darker: '#090b0e'
      cloud-backup-color: '#a5a5a5'
      cloud-backup-background: '#090b0e'
      search-container-background: '#302c2c'
      search-field-background: '#302c2c'
      search-label-color: '#ffddb8'
      footer-text-color: '#5e6474'
      footer-text-color-link: '#a5a5a5'
      footer-background: '#090b0e'
      context-menu-background: '#302c2c'
      context-menu-color: '#a5a5a5'
      context-menu-secondary-color: '#090b0e'
      side-bar-background: '#090b0e'
      side-bar-background-lighter: '#302c2c'
      side-bar-color: '#a5a5a5'
      side-bar-item-background: '#090b0e'
      side-bar-item-color: '#a5a5a5'
      workspace-web-content-background: '#302c2c'
      minimal-view-background-color: '#302c2c'
      minimal-view-title-color: '#a5a5a5'
      minimal-view-settings-color: '#a5a5a5'
      minimal-view-section-heading-color: '#a5a5a5'
      minimal-view-section-heading-background: '#090b0e'
      minimal-view-search-background: '#090b0e'
      minimal-view-search-color: '#a5a5a5'
      minimal-view-group-color: '#a5a5a5'
      minimal-view-group-background: '#090b0e'
      login-form-color: '#a5a5a5'
      login-form-background: '#302c2c'
      login-form-background-secondary: '#090b0e'
      about-page-color: '#a5a5a5'
      about-page-background: '#302c2c'
      about-page-accent: '#a5a5a5'
      scroll-bar-color: '#a5a5a5'
      scroll-bar-background: '#090b0e'
      highlight-color: '#302c2c'
      highlight-background: '#a5a5a5'
      progress-bar: '#a5a5a5'
      loading-screen-color: '#a5a5a5'
      loading-screen-background: '#302c2c'
      status-check-tooltip-background: '#090b0e'
      status-check-tooltip-color: '#a5a5a5'
      welcome-popup-background: '#090b0e'
      welcome-popup-text-color: '#a5a5a5'
      toast-background: '#a5a5a5'
      toast-color: '#302c2c'
      description-tooltip-background: '#090b0e'
      description-tooltip-color: '#a5a5a5'
      outline-color: none
      curve-factor: 4px
      curve-factor-navbar: 8px
      curve-factor-small: 2px
      dimming-factor: '0.7'
      scroll-bar-width: 8px
      header-height: 6.3rem
      footer-height: 94px
      item-group-padding: 5px
      item-shadow: none
      item-hover-shadow: none
      item-icon-transform: drop-shadow(2px 4px 6px rgba(0,0,0,0.5019607843137255)) saturate(0.95)
      item-icon-transform-hover: drop-shadow(4px 8px 3px rgba(0,0,0,0.5019607843137255)) saturate(2)
      item-group-shadow: none
      context-menu-shadow: none
      section-max-height: 3000px
      settings-container-shadow: none
      side-bar-width: 3.5rem
      tooltip-arrow-size: 6px
      tooltip-width: 250px
      tooltip-padding: 0.2rem
      font-body: '"Courier New",monospace'
      font-headings: '"Courier New",monospace'
      font-monospace: '"PTMono","Courier New",monospace'
sections:
  - name: Holmie
    displayData:
      sortBy: alphabetical
      rows: 1
      cols: 4
      collapsed: false
      hideForGuests: true
    items:
      - title: Kiwix
        icon: kiwix-light.png
        url: https://kiwix.example.com
        statusCheck: true
        statusCheckUrl: http://192.168.50.65:8080
        id: 0_606_kiwix
      - title: Home Assistant
        description: ''
        icon: home-assistant.png
        url: https://homeassistant.example.com/
        statusCheck: true
        statusCheckUrl: http://192.168.50.65:8124
        id: 1_606_homeassistant
      - title: ADS-B
        icon: adsb.png
        url: https://adsb.example.com
        statusCheck: true
        statusCheckUrl: http://192.168.50.65:8078/
        id: 2_606_adsb
      - title: ntfy
        icon: ntfy-light.png
        url: https://ntfy.example.com
        statusCheck: true
        statusCheckUrl: http://192.168.50.65:8067/
        id: 3_606_ntfy
      - title: Jellyfin
        description: ''
        icon: jellyfin.png
        url: https://jellyfin.example.com
        statusCheck: true
        statusCheckUrl: http://192.168.50.65:8096/
        id: 4_606_jellyfin
      - title: Immich
        description: ''
        icon: immich.png
        url: https://immich.example.com
        statusCheck: true
        statusCheckUrl: http://192.168.50.65:2283/
        id: 5_606_immich
      - title: AudioBookShelf
        icon: audiobookshelf.png
        url: https://audiobookshelf.example.com
        statusCheck: true
        statusCheckUrl: http://192.168.50.65:13378/
        id: 6_606_audiobookshelf
      - title: VaultWarden
        icon: bitwarden.png
        url: https://bitwarden.example.com
        statusCheck: true
        statusCheckUrl: http://192.168.50.65:58527/
        id: 7_606_vaultwarden
      - title: NextCloud
        icon: nextcloud.png
        url: https://nextcloud.example.com/
        statusCheck: true
        statusCheckUrl: http://192.168.50.65:8086
        id: 8_606_nextcloud
      - title: Portainer
        icon: portainer.png
        url: https://portainer-holmie.example.com/#!/2/docker/containers
        statusCheck: true
        statusCheckUrl: http://192.168.50.65:9000
        statusCheckAllowInsecure: true
        id: 9_606_portainer
      - title: Navidrome
        description: ''
        icon: navidrome.png
        url: https://navidrome.example.com
        statusCheck: true
        statusCheckUrl: http://192.168.50.65:4533
        id: 10_606_navidrome
      - title: Glances
        icon: glances.png
        url: https://glances-holmie.example.com
        statusCheck: true
        statusCheckUrl: http://192.168.50.65:61208/
        id: 11_606_glances
      - title: Webmin
        icon: webmin.png
        url: https://192.168.50.65:10000/
        statusCheck: true
        statusCheckAllowInsecure: true
        id: 12_606_webmin
      - title: Files
        icon: folder.png
        url: https://files-holmie.example.com
        statusCheck: true
        statusCheckUrl: http://192.168.50.65:8060
        id: 13_606_files
      - title: Jellyseerr
        icon: jellyseerr.png
        url: https://jellyseerr.example.com
        statusCheck: true
        statusCheckUrl: http://192.168.50.65:5055
        id: 14_606_jellyseerr
      - title: Syncthing
        icon: syncthing.png
        url: https://syncthing-holmie.example.com/
        statusCheck: true
        statusCheckUrl: http://192.168.50.65:8384/
        id: 15_606_syncthing
      - title: Paperless
        icon: paperless.png
        url: https://paperless.example.com
        statusCheck: true
        statusCheckUrl: http://192.168.50.65:8047
        id: 16_606_paperless
      - title: Deezer-DL
        description: ''
        icon: deezer.png
        url: https://deezerdl.example.com/
        statusCheck: true
        statusCheckUrl: http://192.168.50.65:5000/
        id: 17_606_deezerdl
      - title: Scrutiny
        icon: scrutiny.png
        url: https://scrutiny.example.com
        statusCheck: true
        statusCheckUrl: http://192.168.50.65:8181
        id: 18_606_scrutiny
      - title: Crafty
        icon: crafty-controller.png
        url: https://crafty-holmie.example.com/panel/dashboard
        statusCheck: true
        statusCheckUrl: https://192.168.50.65:8443
        statusCheckAllowInsecure: true
        id: 19_606_crafty
    icon: server.png
  - name: k3s
    icon: k3s.png
    items:
      - title: ArgoCD
        description: ''
        icon: argocd.png
        url: https://argocd.example.com
        statusCheck: true
        statusCheckUrl: http://192.168.50.40:80
        id: 0_273_argocd
    displayData:
      sortBy: alphabetical
      rows: 1
      cols: 4
      collapsed: false
      hideForGuests: true
  - name: Shady/Misc
    displayData:
      sortBy: alphabetical
      rows: 2
      cols: 4
      collapsed: false
      hideForGuests: true
    items:
      - title: AI
        icon: open-webui-light.png
        url: https://ai.example.com/
        statusCheck: true
        statusCheckUrl: http://192.168.50.65:3000
        id: 0_948_ai
      - title: NetAlertX
        icon: NetAlertX.png
        url: https://netalertx.example.com
        statusCheck: true
        statusCheckUrl: http://192.168.50.61:20211
        id: 1_948_netalertx
      - title: Nginx
        description: ''
        icon: nginx-proxy-manager.png
        url: https://nginx.example.com
        statusCheck: true
        statusCheckUrl: http://192.168.50.61:81
        id: 2_948_nginx
      - title: Pi-Hole
        icon: pi-hole.png
        url: https://pihole.example.com/admin/login
        statusCheck: true
        statusCheckUrl: http://192.168.50.61:5353/admin
        id: 3_948_pihole
      - title: Portainer
        icon: portainer.png
        url: https://portainer-shady.example.com/#!/2/docker/containers
        statusCheck: true
        statusCheckUrl: http://192.168.50.16:9000
        id: 4_948_portainer
      - title: Crafty
        icon: crafty-controller.png
        url: https://crafty-shady.example.com/panel/dashboard
        statusCheck: true
        statusCheckUrl: https://192.168.50.16:8443
        statusCheckAllowInsecure: true
        id: 5_948_crafty
      - title: pfSense
        icon: pfsense.png
        url: https://192.168.50.1/
        statusCheck: false
        statusCheckAllowInsecure: true
        id: 6_948_pfsense
      - title: Syncthing
        icon: syncthing.png
        url: https://syncthing-shady.example.com/
        statusCheck: true
        statusCheckUrl: http://192.168.50.16:8384
        id: 7_948_syncthing
      - title: Glances
        icon: glances.png
        url: https://glances-shady.example.com/
        statusCheck: true
        statusCheckUrl: http://192.168.50.16:61208
        id: 8_948_glances
      - title: Wireguard
        icon: wireguard.png
        url: https://wireguard.example.com
        statusCheck: true
        statusCheckUrl: http://192.168.50.61:51821/
        id: 9_948_wireguard
      - title: Asus WAP
        icon: asus-light.png
        url: http://192.168.50.4
        id: 10_948_asuswap
    icon: desktop.png
  - name: Holmlab
    icon: server.png
    items:
      - title: Bitwarden
        description: >-
          bitwarden, but on this server, not bitwarden's (also like a paid
          account)
        icon: bitwarden.png
        url: https://bitwarden.example.com
        statusCheck: true
        statusCheckUrl: http://192.168.50.65:58527/
        id: 0_703_bitwarden
      - title: Immich
        description: photo backups + viewing
        icon: immich.png
        url: https://immich.example.com
        statusCheck: true
        statusCheckUrl: http://192.168.50.65:2283/
        id: 1_703_immich
      - title: Jellyfin
        description: like netflix, but ya gotta say "arrg" to get in
        icon: jellyfin.png
        url: https://jellyfin.example.com
        statusCheck: true
        statusCheckUrl: http://192.168.50.65:8096/
        id: 2_703_jellyfin
      - title: AudioBookShelf
        description: audiobooks!
        icon: audiobookshelf.png
        url: https://audiobookshelf.example.com
        statusCheck: true
        statusCheckUrl: http://192.168.50.65:13378/
        id: 3_703_audiobookshelf
      - title: NextCloud
        description: storage, shared docs, messaging...and more
        icon: nextcloud.png
        url: https://nextcloud.example.com
        statusCheck: true
        statusCheckUrl: http://192.168.50.65:8086/
        id: 4_703_nextcloud
      - title: Kiwix
        description: Private Wikis
        icon: kiwix-light.png
        url: https://kiwix.example.com
        statusCheckUrl: http://192.168.50.65:8080
        statusCheck: true
        id: 5_703_kiwix
      - title: ADS-B
        description: Plane Tracking
        icon: adsb.png
        url: https://adsb.example.com
        statusCheck: true
        statusCheckUrl: http://192.168.50.65:8078/
        id: 6_703_adsb
      - title: PDF
        description: PDF editor
        icon: pdf.png
        url: https://pfd.example.com/
        statusCheck: true
        statusCheckUrl: http://192.168.50.65:8087
        id: 7_703_pdf
      - title: Minecraft Map
        description: Live minecraft map
        icon: minecraft.png
        url: https://mcmap.example.com/
        statusCheck: true
        statusCheckUrl: http://192.168.50.16:25566
        id: 8_703_minecraftmap
      - title: Mealie
        icon: mealie.png
        url: https://mealie.example.com/
        statusCheck: true
        statusCheckUrl: http://192.168.50.65:9091
        id: 9_703_mealie
    displayData:
      sortBy: alphabetical
      rows: 1
      cols: 4
      collapsed: false
      hideForGuests: false
  - name: Skynet Stats
    icon: chart.png
    displayData:
      sortBy: default
      rows: 1
      cols: 1
      collapsed: true
      hideForGuests: true
    widgets:
      - type: gl-cpu-history
        options:
          hostname: http://192.168.50.69:61208
        id: 0_1197_glcpuhistory
      - type: gl-mem-history
        options:
          hostname: http://192.168.50.69:61208
        id: 1_1197_glmemhistory
      - type: gl-disk-space
        options:
          hostname: http://192.168.50.69:61208
        id: 2_1197_gldiskspace
  - name: Holmie Stats
    icon: chart.png
    displayData:
      sortBy: default
      rows: 1
      cols: 1
      collapsed: true
      hideForGuests: true
    widgets:
      - type: gl-cpu-history
        options:
          hostname: http://192.168.50.65:61208
          apiVersion: 4
        id: 0_1165_glcpuhistory
      - type: gl-mem-history
        options:
          hostname: http://192.168.50.65:61208
        id: 1_1165_glmemhistory
      - type: gl-disk-space
        options:
          hostname: http://192.168.50.65:61208
        id: 2_1165_gldiskspace
  - name: Shady Stats
    icon: chart.png
    displayData:
      sortBy: default
      rows: 1
      cols: 1
      collapsed: true
      hideForGuests: true
    widgets:
      - type: gl-cpu-history
        options:
          hostname: https://glances-shady.example.com/
        id: 0_1064_glcpuhistory
      - type: gl-mem-history
        options:
          hostname: http://192.168.50.16:61208
        id: 1_1064_glmemhistory
  - name: Pi3 Stats
    icon: chart.png
    displayData:
      sortBy: default
      rows: 1
      cols: 1
      collapsed: true
      hideForGuests: true
    widgets:
      - type: gl-cpu-history
        options:
          hostname: http://192.168.50.61:61208
          apiVersion: 4
        id: 0_795_glcpuhistory
      - type: gl-mem-history
        options:
          hostname: http://192.168.50.61:61208
        id: 1_795_glmemhistory
      - type: gl-disk-space
        options:
          hostname: http://192.168.50.61:61208
        id: 2_795_gldiskspace
